@import url('https://fonts.googleapis.com/css2?family=Rye&display=swap'); 

*{
    margin: 0;
    padding: 0;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    /*background-color: #6CB4EE;*/
    /*background-color: #F0F8FF;*/
    background-color: #2a2a2c;
}
header{
    padding: 20px;
    text-align: center;
    max-width: 1000px;
    margin: auto;
    /*background-color: #00308F;*/
    background-color: #030813;
    color: white;
}
h1{
    font-family: 'Rye', cursive;
    font-size: 8vh;
    padding: 10px;
    
}
nav{
    /*background-color: #00308F;*/
    background-color: black;
    padding: 20px;
    max-width: 1000px;
    margin: auto;
    
}
nav a{
    padding: 10px;
    background-color: white;
    color: black;
    border-radius: 10px;
    text-decoration: none;
    transition-duration: 0.5s;
    font-weight: bold;
    
}
main{
    margin: auto;
    padding: 20px;
    max-width: 1000px;
    background-color: white;
    
}

.título{
    font-size: 4em;
    text-indent: 50px;
}

h2{
    padding: 20px;
    font-size: 3em;
    font-family: 'Rye', cursive;
    color: #03102b;
}
h3{
    padding: 20px;
    font-size: 2.5em;
    font-family: 'Rye', cursive;
    color: #03102b;
}

p{
    line-height: 2em;
    padding: 20px 0px;
    text-align: justify;
}

img {
    padding: 20px 0px;
}

footer{
    background-color: black;
    color: white;
    padding: 10px 20px;
    max-width: 1000px;
    margin: auto;
    
}

footer > p{
    margin: 0px ;
    padding: 10px;
    text-align: center;
}